@use "palette";

$ripple-color: palette.$dark;

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0rem rgba($ripple-color, 0.5),
      0 0 0 0.3rem rgba($ripple-color, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0.3rem rgba($ripple-color, 0.5),
      0 0 0 0.4rem rgba($ripple-color, 0);
  }
}
