@use 'palette';
@use 'animation';

.app {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0.25em 0;
    color: palette.$dark;
}

.status {
    padding: 0.3em;
    margin: 0.25em 0;
    color: palette.$dark;
    border-radius: 0.3em;
    height: 3em;

    &.win {
        background: palette.$green;
    }

    &.lose {
        background: palette.$gray;
    }

    &.invalid {
        background: palette.$red;
    }
}

.simple-keyboard.hg-theme-default {
    margin: 0.25em 0 0 0;
    background: palette.$gray;
    & .found-letter {
        background: palette.$green;
    }

    & .absent-letter {
        background: palette.$emphasis-letter;
    }

    & .emphasis {
        background: palette.$cursor;
        @include animation.bounce;
    }
}