@use 'palette';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    height: 100%;
	font-family: 'Open Sans', sans-serif;
    background: palette.$white;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
}