@use 'palette';
@use 'animation';

.hg-button {
    &.found-letter {
        background: palette.$success;
    }
    &.absent-letter {
        background: palette.$emphasis1;
    }
    &.emphasis {
        background: palette.$cursor;
        @include animation.bounce;
    }
}