.keyboard-button {
    height: 100%;
    min-height: 40px;
    min-width: 30px;
    margin: 2px;
}

.keyboard-button.highlight {
    background-color: blue;
}

.keyboard-button.grayout {
    background-color: gray;
}

.keyboard-button.green {
    background-color: green;
}