@use 'palette';

.hg-button {
    &.found-letter {
        background: palette.$success;
    }
    &.absent-letter {
        background: palette.$emphasis1;
    }
    &.emphasis {
        background: palette.$cursor;
    }
}