@use 'palette';

.letter {
    flex: 1 1;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    max-width: 80px;
    max-height: 80px;

    &.exact {
        background-color: palette.$green;
    }

    &.misplaced {
        background-color: palette.$yellow;
    }

    &.current {
        background-color: palette.$blue;
    }
}