@use 'palette';
@use 'animation';

.wordle {
    table-layout: fixed;
    border-spacing: 0.25em;
    width: 100%;
    max-width: 720px;
    max-height: 720px;
    margin: 0.25em 0;
    background: palette.$gray;
    border-radius: 0.3em;
    flex: 1 1;
}

.letter {
    border-bottom: 1px solid #b5b5b5;
    border-radius: 5px;
    box-shadow: 0 0 3px -1px rgb(0 0 0 / 30%);
    box-sizing: border-box;
    font-weight: bold;

    &.empty {
        background: palette.$white;
    }

    &.exact {
        background: palette.$green;
    }

    &.misplaced {
        background: palette.$yellow;
    }

    &.current {
        background: palette.$cursor;
        @include animation.bounce;
    }
}

.word {
    background: palette.$emphasis-letter;

    &.current {
        background: palette.$emphasis-letter;
    }

    &.invalid {
        background: palette.$red;
    }
}