@use 'palette';
@use 'animation';

.wordle {
    display: flex;
    flex-direction: column;
    margin: 0.25em 0;
    background: palette.$gray;
    border-radius: 0.3em;
    flex: 1;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25em;
    border-bottom: 1px solid #b5b5b5;
    border-radius: 5px;
    box-shadow: 0 0 3px -1px rgb(0 0 0 / 30%);
    font-weight: bold;
    background: palette.$emphasis-letter;
    flex: 1;

    &.empty {
        background: palette.$white;
    }

    &.exact {
        background: palette.$green;
    }

    &.misplaced {
        background: palette.$yellow;
    }

    &.current {
        background: palette.$cursor;
        @include animation.bounce;
    }
}

.word {
    display: flex;
    flex: 1;

    &.current {
        // background: palette.$emphasis-letter;
    }

    &.invalid {
        // background: palette.$red;
    }
}